<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Vuetify</span>
        <span class="font-weight-light">MATERIAL DESIGN</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn
        flat
        href="https://github.com/vuetifyjs/vuetify/releases/latest"
        target="_blank"
      >
        <span class="mr-2">Latest Release</span>
      </v-btn>
    </v-toolbar>

    <v-content>

    </v-content>
  </v-app>
</template>

<script>
	import SockJS from 'sockjs-client'
	import {Stomp} from '@stomp/stompjs'

export default {
  name: 'App',
  components: {
  },
  data () {
    return {
      socket: {}
    }
  },
	created(){
		this.socket = new SockJS("http://localhost:80/foodel-websocket/")
		this.socket.onopen = function() {
			console.log('STORE socket open');
		};


		this.socket.onmessage = function(e) {
			debugger
			console.log('STORE socket message', e.data);
		};

		this.socket.onclose = function() {
			console.log('STORE socket close');
		};

		this.stompClient = Stomp.over(this.socket);
		let sc = this.stompClient
		this.stompClient.connect({}, function (frame) {
			sc.subscribe('/topic/orders', function (products) {
				console.log("STORE OnClient - New Order: " + products);
			});

		});
	},
	destroyed(){
		if(this.socket)
			this.socket.close()
	},
}
</script>
